.box{
    border: solid gray 1px;
    border-radius: 3rem;
    align-items: center;
    display: flex;
    justify-content: stretch;
    margin: 50px;
    padding: 20px;

    &:hover{
        background-color: $light-pink;
    }
    font-weight: bold;
}

.nome{
    margin-left: 3%;
    margin-right: 70%;
    margin-top: -5%;
}

.preco{
    margin-top: -5%;
}

.order{
    display: flex;
    font-weight: bold;
    margin-left: 3%;
    margin-top: 3%;
}

.select{
    margin-top: 0.9%;
    margin-left: 0.5%;
    height: 20px;
}